<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>    
  </extensions>
  
  <targets>
    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
      <property name="ThreadId" value="${threadid}" as="number" />
      <property name="MachineName" value="${machinename}" />
      <property name="Message" value="${message}" />
      <property name="Controller" value="${aspnet-mvc-controller}" />
      <property name="Action" value="${aspnet-mvc-action}" />
      <property name="Time" value="${longdate}" />
      <property name="Request" value="${aspnet-item:variable=Request}"/>
      <property name="Response" value="${aspnet-item:variable=Response}"/>
      
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="seq" />
  </rules>
</nlog>